<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Template Practice | Home Page</title>
</head>

<body>
    <h1>This is a Home page</h1>
    <!-- EJS tags (remove html) -->
    <h3><%= ["hello","bonjour","namaste"][1] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nesciunt omnis aperiam vitae asperiores labore,
        impedit, perspiciatis beatae delectus mollitia amet dolorum atque fugit voluptatibus laboriosam natus. Ratione
        et suscipit quod voluptatibus similique culpa minima, sapiente atque, facilis laborum dolorem sed aliquid quam
        debitis iusto a vel. Incidunt, ratione cumque?</p>
        <button>click me!</button>
</body>

</html>