#container{
    width: 400px;
    height: 150px;
    background-color: aquamarine;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    /* flex-direction: column; */

}

#div1{
    width: 80px;
    height: 80px;
    background-color: aliceblue;
    /* display: inline-block; */
    margin: 10px;
}

#div2{
    width: 80px;
    height: 80px;
    background-color: azure;
    /* display: inline-block; */
    margin: 10px;
}

#div3{
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.621);
    /* display: inline-block; */
    margin: 10px;
}
