#container{
    width: 400px;
    height: 150px;
    background-color: aquamarine;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    /* flex-direction: column; */

}

#div1{
    width: 80px;
    height: 80px;
    background-color: aliceblue;
    /* display: inline-block; */
    margin: 10px;
}

#div2{
    width: 80px;
    height: 80px;
    background-color: azure;
    /* display: inline-block; */
    margin: 10px;
}

#div3{
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.621);
    /* display: inline-block; */
    margin: 10px;
}

/* flex-direction & justify-content */
#container1{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    text-align: center;
}

.divs{
    height: 100px;
    width: 100px;
    color: white;
}
